#ingame {
	position: relative;
}

.gameUI {
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
}

.infos {
	display: flex;
	text-align: center;
	flex-direction: column;
}
@media only screen and (min-width: 600px) {
	.infos {
		flex-direction: row;
	}
}

.placePin {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 4%;
	left: 50%;
	transform: translate(-50%, 0);
}

.pin {
	display: flex;
}
.pin-taunt {
	font-size: 1em;
	margin-left: 0.5em;
	background-color: blanchedalmond;
	padding: 0.2em 1em;
}
