body {
	overflow: hidden;
}

#introContainer {
}
.overlays {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.gameTitle {
	text-align: center;
	background-color: blanchedalmond;
	padding: 0.2em 1em;
	font-size: 4rem;
}
.subtitle {
	margin-top: 0.3em;
	text-align: center;
	color: blanchedalmond;
	background-color: black;
}

.button-rows {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.startButton {
	text-align: center;
	margin: 0.5em;
	background-color: blanchedalmond;
	padding: 1rem 2rem;
	border-radius: 2rem;
}
.startButton:hover {
	cursor: pointer;
	transform: translateY(2px);
}

.helpButton {
	margin: 0.5em;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
.helpButton:hover {
	cursor: pointer;
}

.bg {
	object-fit: cover;
	width: 100vw;
	height: 101vh;
	opacity: 0.3;
	background-color: blanchedalmond;
}

.tutorials {
	margin-top: 2rem;
	padding: 2rem 4rem;
	background-color: blanchedalmond;
}
